@import 'https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

$font-title: 'Rowdies', cursive;
$font-normal: 'Roboto', sans-serif;
$fw-normal: 400;
$fw-bold: 500;
$fw-dark: 700;
$flex-gap: 0.3rem;
$border-normal: 0.5rem;

@mixin test {
  outline: 1px dashed red;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  gap: $flex-gap;
}

@mixin flex-column {
  @include flex-row;
  flex-direction: column;
}

@mixin board-default {
  @include flex-column;
  width: 80px;
  justify-content: space-evenly;
  padding: 0.2rem;
  border: 1px solid blue;
  border-radius: $border-normal;
  aspect-ratio: 1;
}
