@import 'variables';

$bd-clr: rgb(17 160 41);

.cards-deck {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.deck {
  // @include test;

  @include flex-row;

  // overflow: hidden;
  position: relative;
  width: 123px;
  height: 200px;
  justify-content: center;
  border: 0.1px dashed $bd-clr;
  border-radius: $border-normal;
  cursor: pointer;

  img {
    position: absolute;
    z-index: -1;
    width: 90%;
  }

  &:hover {
    border: 1px solid red;
    transform: scale(1.2, 1.1);
    transition: {
      duration: 0.1s;
      ease: ease-in-out;
    }
  }
}

.disable {
  @include flex-row;
  position: relative;
  width: 123px;
  height: 200px;
  justify-content: center;
  border: 4px solid rgb(238 64 12);
  border-radius: $border-normal;
  opacity: 0.8;

  &::before {
    position: absolute;
    top: 9px;
    right: -7px;
    width: 43px;
    height: 4px;
    background: rgb(238 64 12);
    content: '';
    transform: rotate(39deg);
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}
