@import 'variables';

$bd-clr: rgb(17 160 41);

.cards-deck {
  @include flex-row;

  // display: flex;
  flex-wrap: wrap;

  // justify-content: space-evenly;

  & > div > img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}

.deck,
.disable {
  @include transition;
  @include flex-row;
  position: relative;
  width: 123px;
  height: 200px;
  justify-content: center;
  border: 0.1px dashed $bd-clr;
  border-radius: $border-normal;
}

.deck {
  cursor: pointer;

  &:hover {
    border: 1px solid red;
    transform: scale(1.2, 1.1);
  }
}

.found {
  @include transition(0.2s);
  @include flex-row;
  position: relative;
  width: 123px;
  height: 200px;
  justify-content: center;
  border: 4px solid rgb(238 64 12);
  border-radius: $border-normal;
  opacity: 0.8;

  &::before {
    position: absolute;
    top: 9px;
    right: -7px;
    width: 43px;
    height: 4px;
    background: rgb(238 64 12);
    content: '';
    transform: rotate(39deg);
  }
}
